.selectedPage{
    font-weight: bold;
    cursor: pointer;
    background-color: cadetblue;
    color: whitesmoke;

}
.page{
    margin: 20px ;


}

.page span{
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    border-radius:2px ;
    padding: 5px 10px;
    transition: all .2s linear;

}
.btn{
    cursor: pointer;
    transition: all .2s linear;
    opacity: 1;
    border: none;
    width: 35px;
    height: 35px;
    margin: 0px 20px;
    border-radius: 3px;
    background-color: cadetblue;


}
.btn:hover{
    color: white;
    background-color: gray;
}

.totalItemsCount{
    margin-top: 2rem;
}

.page span:hover{
    color: white;
    background-color: gray;
}