.avatar{
    width: 100px;
    height: auto;
}

.avatarWrapper{
    margin-right: 20px;
}

.wrapperItemUser{
    display: flex;
    align-items: center;
}


.hr{
    margin: 5px 0 50px 0;
}


.pageWrapper{
    padding: 10px;
}

.btnUnfollow{
    width: 100px;
    height: 30px;
    border: none;
    background-color: gray;
    border-radius: 2px ;
    cursor: pointer;
    color: whitesmoke;
    opacity: 1;
    transition: .2s all linear;


}

.btnFollow{
    width: 100px;
    height: 30px;
    border: none;
    background-color: cadetblue;
    border-radius: 2px ;
    cursor: pointer;
    color: whitesmoke;
    opacity: 1;
    transition: .2s all linear;
}

.btnUnfollow:hover{
    background-color: cadetblue;

}

.btnFollow:hover{
    background-color: gray;

}





