.form{
    display: flex;


}

.error{
    margin-left: 50px;
    border: 2px solid red;
    color: red;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: .2rem;
    font-weight: 700;

}