.nav{
    grid-area: n;
    background-color: gray;
    padding-left: 10px;
    padding-top: 10px;
}
.item{
    margin-bottom: 5px;
}
.item:last-child{
    margin-top: 50px;
}

.link{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: all .2s linear;
}

.link:hover{
    color: black;
    font-weight: 700;
}

.link.active{
    color: cadetblue;
}

.fridnsSideBar{
    display: flex;

}

.bestFriends{
   color: #fff;
}
